@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.highlighted {
  background-color: #6e5ce663;
  border-color: #ffffff;
  transition: background-color 0.5s, border-color 0.5s;
}

@keyframes fadeHighlight {
  0% {
    background-color: #6e5ce663;
    border-color: #ffffff;
  }
  100% {
    background-color: transparent;
    border-color: #6f5ce6;
  }
}

.highlighted.fade {
  animation: fadeHighlight 1s forwards;
}
